<div class="form-container mat-elevation-z5">
  <h1>Sign Up a new user!</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']"
        >Please, enter a correct email
      </mat-error>
    </mat-form-field>

    <!-- Password Input -->
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
        (input)="password?.markAsTouched()"
      />
    </mat-form-field>
    <div class="passRequiredBox">
    <mat-error
      *ngIf="password?.errors?.['required'] && password?.touched && password?.dirty"
    >
      Password is required
    </mat-error>
  </div>
    <div
      class="error-box"
      *ngIf="password?.errors && (password?.touched || password?.dirty)"
    >
      <mat-error *ngIf="password?.errors?.['minLength']">
        {{ password?.errors?.['minLength'] }}
      </mat-error>
      <mat-error *ngIf="password?.errors?.['hasNumber']">
        {{ password?.errors?.['hasNumber'] }}
      </mat-error>
      <mat-error *ngIf="password?.errors?.['hasLetter']">
        {{ password?.errors?.['hasLetter'] }}
      </mat-error>
      <mat-error *ngIf="password?.errors?.['hasSymbol']">
        {{ password?.errors?.['hasSymbol'] }}
      </mat-error>
    </div>

    <div class="passwordCheck" *ngIf="!password?.errors">
      <p>
        <mat-icon>done</mat-icon>Valid Password
      </p>
    </div>

    <mat-form-field>
      <input
        matInput
        placeholder="Confirm password"
        formControlName="confirmPassword"
        type="password"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']"
        >Confirm password is required.
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      Passwords should match.
    </mat-error>

    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">Sign Up!</button>
    </div>
  </form>
</div>
