<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title> {{ isSignUp ? 'Sign Up': 'Log In' }}</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width my-input">
          <span class="far fa-user p-2"></span>
          <input matInput placeholder="Username" />
        </mat-form-field>
        <mat-form-field class="example-full-width my-input">
          <span class="fas fa-lock px-2"></span>
          <input matInput placeholder="Password" />
        </mat-form-field>
        <ng-container *ngIf="isSignUp">
        <mat-form-field  class="example-full-width my-input">
          <span class="fas fa-lock px-2"></span>
          <input matInput placeholder="Confirm Password" />
        </mat-form-field>
      </ng-container>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="custom-btn">
        {{ isSignUp ? 'Sign Up' : 'Log In' }}
      </button>
    </form>
  </mat-card>
</div>
