<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="container">
  <div class="searchInput" [class.active]="isSearchActive">
    <input
      type="text"
      placeholder="What stock are you looking for?"
      autocomplete="off"
      (keyup)="onKeyUp($event)"
      (focus)="isSearchActive = true"
      #inputField
    />
    <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
    <div
      *ngFor="let value of companyTicker"
      class="resultBox"
      (click)="onResultBoxClick(value)"
    >
      <p>{{ value["displaySymbol"] }} - {{ value["description"] }}</p>
    </div>
    <div class="icon" (click)="onButtonClick($event)">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <!-- <div *ngIf="showCalendar"class="calendar">
    <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div> -->
  <div *ngIf="showCard && !isSearchActive" class="card">
    <mat-card class="image-card">
      <ng-container *ngIf="noProfileData === false">
      <mat-card-header>
         <div mat-card-avatar class="header-image-avatar">
          <img
            class="img"
            mat-card-image
            [src]="companyInfoData['logo']"
            alt="Angular material Card"
          />
        </div>
        <mat-card-title *ngIf="companyInfoData">{{
          companyInfoData["name"]
        }}</mat-card-title
        ><br />
        <mat-card-subtitle *ngIf="companyInfoData">{{
          companyInfoData["ticker"]
        }}</mat-card-subtitle>
      </mat-card-header>
    </ng-container>
    <!-- Display message if companyInfoData is empty -->
<div *ngIf="noProfileData === true">
  <p [innerHTML]="message"></p>
</div>
    <ng-container *ngIf="noProfileData === false">
      <mat-card-content>
        <p [innerHTML]="message"></p>
      </mat-card-content>
    </ng-container>
    </mat-card>
  </div>
</div>
