<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="container">
  <div class="searchInput" [class.active]="isSearchActive">
    <input
      type="text"
      placeholder="What stock are you looking for?"
      autocomplete="off"
      (keyup)="onKeyUp($event)"
      (focus)="isSearchActive = true"
      #inputField
    />
    <div *ngFor="let value of companyTicker" class="resultBox" (click)="onResultBoxClick(value)">
      <p>{{ value["1. symbol"] }} - {{ value["2. name"] }}</p>
    </div>
    <div class="icon" (click)="onButtonClick($event)"><i class="fas fa-search"></i></div>
  </div>
</div>
